@charset "utf-8";
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	backface-visibility: hidden;
	color: black;
	font-family: $base_font;
	font-weight: 500;
	line-height: 1.5;
	margin: auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	@media all and (-ms-high-contrast: none) {
		font-family: $base_font;
	}
}
body.fix {
	position: fixed;
	/*指定しておかないとなんか右側が空く*/
	width: 100%;
}
html,
body {
	/* 左右にスクロールが発生しないよう措置 */
	overflow-x: hidden;
	width: 100%;
}
*:focus {
	outline: none; //スマホタップ時の青い枠削除
}
h1 {
	@include fs(115);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	@include maxtb {
		@include fs(84.5);
	}
}
h2 {
	@include fs(72);
	font-family: Arial, Helvetica, sans-serif;
	@include maxtb {
		@include fs(32);
	}
}
h3 {
	@include fs(40);
	font-family: Arial, Helvetica, sans-serif;
	@include maxtb {
		@include fs(20);
	}
}
p,
li,
dt,
dd {
	@include fs(14.4);
}
span {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ul,
li {
	list-style: none;
}
textarea,
input,
select {
	box-sizing: border-box;
	font-family: $base_font;
	-webkit-appearance: none;
}
input[type="submit"],
input[type="button"] {
	appearance: button;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	&::-webkit-search-decoration {
		display: none;
	}
	&:focus {
		outline-offset: -2px;
	}
}
a {
	background: transparent;
	box-sizing: border-box;
	color: $fc;
	cursor: pointer; //スマホホバー時の青色に光るを削除
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	transition: color 0.5s ease, opacity 0.5s ease, background 0.5s ease;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); //スマホホバー時の青色に光るを削除
}
a:hover {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
input,
select {
	vertical-align: middle;
}
img {
	image-rendering: -webkit-optimize-contrast;
	vertical-align: bottom;
	width: 100%;
}
sup {
	position: relative;
	top: -1ex;
	vertical-align: baseline;
}
button {
	outline: none;
}
.center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.text-center {
	text-align: center;
}
.m100 {
	margin: 100px auto;
	@include maxsp {
		margin: 50px auto;
	}
}
.sp-none {
	@include maxsp {
		display: none !important;
	}
}
.pctb-none {
	display: none !important;
	@include maxsp {
		display: block !important;
	}
}
.tb-none {
	@include maxtb {
		display: none !important;
	}
}
.pc-none {
	display: none !important;
	@include maxtb {
		display: block !important;
	}
}
.w390-none {
	@media screen and (max-width: 390px) {
		display: none !important;
	}
}
.w400-none {
	@media screen and (min-width: 400px) {
		display: none !important;
	}
}
.right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.color {
	color: $sc;
}
.en {
	font-family: "Oswald", sans-serif;
}
.flex {
	display: flex;
	@include maxsp {
		flex-direction: column;
	}
	&-left {
		width: 50%;
		@include maxsp {
			width: 100%;
		}
	}
	&-right {
		width: 50%;
		@include maxsp {
			width: 100%;
		}
	}
}
.ggmap {
	height: 0;
	margin: 80px auto 22px;
	overflow: hidden;
	padding-bottom: 41.5%;
	position: relative;
	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	@include maxsp {
		height: 0;
		margin: 25px auto 16px;
		padding-bottom: 120%;
	}
}
@include mintb {
	a[href^="tel:"] {
		cursor: default;
	}
}
/*タイピング*/
.js_movetext {
	opacity: 0;
	span {
		opacity: 0;
	}
}
